.logForm{
    width: 40%;
    margin: 60px auto auto auto;
}

.logTitle, .logButtonDiv{
    text-align: center;
}

.logForm label{
    width: 100%;
    margin-top: 20px;
}

.logP{
    color: gray !important;
}

.errorMessage{
    color: red;
    text-align: center;
}

.changeLogLi{
    color: blue;
    text-align: center;
    font-size: 13px;
    list-style-type: none;
    text-underline-position: below;
    text-decoration: underline;
    cursor: pointer;

}

.changeLogLi:hover{
    color: white;
}

.changeLogLi:active{
    color: blue;
}